---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Tags from "../../components/Tags.astro";
const allBlogPosts = await getCollection(
  "blog",
  (blog) => blog.data.draft !== true,
);
import Layout from "../../layouts/Layout.astro";
const tags = allBlogPosts
  .map((blog) => blog.data.tags)
  .flat()
  .reduce<{ [key: string]: number }>(function (result, c) {
    var count = result[c] || 0;
    result[c] = count + 1;
    return result;
  }, {});
const sortedPosts = await Promise.all(
  allBlogPosts.sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date)),
);
---

<Layout title="The Thomas Ledoux blog">
  <section>
    <h1 class="text-center text-2xl lg:text-5xl font-bold mb-6">
      Personal blog
    </h1>
    <Tags tags={tags} />
    <div
      class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-9 items-center auto-rows-min mt-6"
    >
      {
        sortedPosts.map(async (post, i) => {
          const { remarkPluginFrontmatter } = await post.render();

          return (
            <a
              class="transform lg:text-center rounded-xl transition-transform lg:hover:scale-[1.04] shadow-lg h-full"
              href={`/blog/${post.slug}`}
              rel="prefetch"
            >
              <article class="relative rounded-lg sm:mx-0 h-full flex flex-col">
                <Image
                  loading={i > 3 ? "lazy" : "eager"}
                  decoding={i > 3 ? "async" : "sync"}
                  class={`rounded-t-xl aspect-[1.33] ${
                    post.data.containImage ? "object-contain" : "object-cover"
                  }`}
                  src={post.data.image}
                  alt={post.data.imageAlt}
                  sizes="(min-width: 640px) 50vw, (min-width: 1024px) 33vw, 100vw"
                />

                <div class="flex px-6 py-4 flex-grow flex-col">
                  <date class="text-sm">
                    {new Date(post.data.date).toLocaleDateString("en-BE", {
                      day: "numeric",
                      month: "short",
                      year: "numeric",
                    })}
                  </date>
                  <div class="flex lg:items-center w-full flex-col gap-y-2 justify-between flex-grow">
                    <div>
                      <h2
                        class="text-xl font-bold transition-colors"
                        transition:name={`blog-title-${post.id}`}
                      >
                        {post.data.title}
                      </h2>
                      {remarkPluginFrontmatter ? (
                        <p>{remarkPluginFrontmatter}ing time</p>
                      ) : null}
                    </div>
                    <ul class="flex flex-wrap lg:justify-center w-full">
                      {post.data.tags?.map((tag: string) => {
                        return (
                          <li class="bg-secondary text-white text-sm my-1 py-1 px-4 mr-2 rounded-md">
                            {tag}
                          </li>
                        );
                      })}
                    </ul>
                  </div>
                </div>
              </article>
            </a>
          );
        })
      }
    </div>
  </section>
</Layout>
