---
export const prerender = false;
import ViewChart from "~/components/ViewChart";
import Layout from "~/layouts/Layout.astro";
import { client } from "~/lib/dbClient";
const searchParams = Astro.url.searchParams;
const dateRange = searchParams.get("date-range") ?? "all-time";
const page = Astro.url.searchParams.get("page")
  ? Number(Astro.url.searchParams.get("page"))
  : 1;
let dateGreaterThan: string | undefined;
const dateLessThan = new Date(Date.now()).toUTCString();
switch (dateRange) {
  case "past-day":
    dateGreaterThan = new Date(Date.now() - 24 * 60 * 60 * 1000).toUTCString();
    break;
  case "past-week":
    dateGreaterThan = new Date(
      Date.now() - 7 * 24 * 60 * 60 * 1000,
    ).toUTCString();
    break;
  case "past-month":
    dateGreaterThan = new Date(
      Date.now() - 30 * 24 * 60 * 60 * 1000,
    ).toUTCString();
    break;
  case "past-year":
    dateGreaterThan = new Date(
      Date.now() - 365 * 24 * 60 * 60 * 1000,
    ).toUTCString();
    break;
  default:
    break;
}

const pageSize = 10;
const offset = (page - 1) * pageSize;
const search = searchParams.get("search") ?? "";

const start = performance.now();

const viewsPromise = dateGreaterThan
  ? client.sql`
  SELECT
    url,
    COUNT(*) AS pageViews
  FROM
    page_views
  WHERE
    date >= ${dateGreaterThan} AND date <= ${dateLessThan}
    AND url LIKE '%' || ${search}::text || '%'
  GROUP BY
    url
  ORDER BY
    pageViews DESC
    LIMIT ${pageSize}
    OFFSET ${offset}`
  : client.sql`
  SELECT
    url,
    COUNT(*) AS pageViews
  FROM
    page_views
  WHERE
    url LIKE '%' || ${search}::text || '%'
  GROUP BY
    url
  ORDER BY
    pageViews DESC
    LIMIT ${pageSize}
    OFFSET ${offset}`;

const totalViewsPromise = dateGreaterThan
  ? client.sql`
    SELECT 
      COUNT(DISTINCT url) AS totalUniqueURLs,
      COUNT(*) AS totalCount
    FROM
      page_views
    WHERE
      date >= ${dateGreaterThan} AND date <= ${dateLessThan}
      AND url LIKE '%' || ${search}::text || '%'`
  : client.sql`
    SELECT 
      COUNT(DISTINCT url) AS totalUniqueURLs,
      COUNT(*) AS totalCount
    FROM
      page_views
    WHERE
      url LIKE '%' || ${search}::text || '%'`;
const [totalViewsRes, views] = await Promise.all([
  totalViewsPromise,
  viewsPromise,
]);
const end = performance.now();
console.log(`Query took ${end - start}ms`);
const totalViews = totalViewsRes.rows[0]?.totalcount;
const totalUniqueURLs = totalViewsRes.rows[0]?.totaluniqueurls;
const viewsSorted = views.rows.map((el) => ({
  ...el,
  url: el.url,
  pageviews: Number(el.pageviews),
}));
const totalPages = Math.ceil(totalUniqueURLs / pageSize);
const paginationButtonClasses = "border p-2 rounded-md my-2 border-black";
const paginationButtonClassesDisabled =
  "border p-2 my-2 rounded-md cursor-not-allowed text-gray-300 border-gray-300";
---

<Layout title="Page views" description="Page views">
  <h1>Page views (migrated from GA on 21 Dec. 2023)</h1>
  <h2>Total</h2>
  <p>Total views on all pages: {totalViews}</p>
  <form id="date-range-form" method="POST">
    <input
      type="search"
      id="search"
      name="search"
      class="p-1 border border-black"
      placeholder="Search for a URL"
      value={search}
    />
    <button type="submit">Submit</button>
    <br />
    <select
      class="border-black border p-1 my-2"
      name="date-range"
      id="date-range"
    >
      <option selected={dateRange === "all-time"} value="all-time"
        >All time</option
      >
      <option selected={dateRange === "past-day"} value="past-day"
        >Past day</option
      >
      <option selected={dateRange === "past-week"} value="past-week"
        >Past week</option
      >
      <option selected={dateRange === "past-month"} value="past-month"
        >Past month</option
      >
      <option selected={dateRange === "past-year"} value="past-year"
        >Past year</option
      >
    </select>
  </form>
  <ViewChart data={viewsSorted} client:load />
  {
    totalPages > 1 ? (
      <div class="flex gap-x-4 items-center">
        {offset === 0 ? (
          <>
            <span class={paginationButtonClassesDisabled}>First</span>
            <span class={paginationButtonClassesDisabled}>Previous</span>
          </>
        ) : (
          <>
            <a
              class={paginationButtonClasses}
              href={`?page=1&date-range=${dateRange}`}
            >
              First
            </a>
            <a
              class={paginationButtonClasses}
              href={`?page=${page - 1}&date-range=${dateRange}`}
            >
              Previous
            </a>
          </>
        )}
        <span>{page}</span>
        {page === totalPages ? (
          <>
            <span class={paginationButtonClassesDisabled}>Next</span>
            <span class={paginationButtonClassesDisabled}>Last</span>
          </>
        ) : (
          <>
            <a
              class={paginationButtonClasses}
              href={`?page=${page + 1}&date-range=${dateRange}`}
            >
              Next
            </a>
            <a
              class={paginationButtonClasses}
              href={`?page=${totalPages}&date-range=${dateRange}`}
            >
              Last
            </a>
          </>
        )}
      </div>
    ) : null
  }
  <script>
    document.addEventListener("astro:page-load", () => {
      const dateRange = document.getElementById("date-range");
      dateRange?.addEventListener("change", () => {
        document.location.href = `?date-range=${
          (dateRange as HTMLSelectElement).value
        }&page=1`;
      });
      const form = document.getElementById("date-range-form");
      form?.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form as HTMLFormElement);
        document.location.href = `?date-range=${
          (dateRange as HTMLSelectElement).value
        }&page=1&search=${formData.get("search")}`;
      });
    });
  </script>
</Layout>
