---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
import logoKaraton from "../assets/logokaraton.png";
import logoRialto from "../assets/logorialto.png";
import logoCarlier from "../assets/logocarlier.png";
import logoAchterderegenboog from "../assets/logoachterderegenboog.png";
import logoDuckduckgo from "../assets/logoduckduckgo.png";
import logoMartino from "../assets/logomartino.png";
import logoBorluutJoggers from "../assets/logoborluutjoggers.png";
import logoMaatwerk from "../assets/logomaatwerk.png";
import logoWoosh from "../assets/logowoosh.png";
---

<Layout
  description="Projects Thomas Ledoux worked on"
  title="Thomas Ledoux | Portfolio"
>
  <section
    class="my-auto lg:mt-24 lg:-mx-[calc(4rem+((100vw-1024px)/2))] xl:-mx-[calc(5rem+((100vw-1280px)/2))] 2xl:-mx-[calc(12rem+((100vw-1536px)/2))]"
  >
    <div class="relative">
      <h1 class="text-center text-2xl lg:text-5xl mb-6 md:mb-12 font-bold">
        Some of my work
      </h1>
      <ul
        class="flex flex-col lg:flex-row gap-y-4 lg:gap-y-0 lg:ps-[20vw] carousel my-auto lg:pe-[20vw] lg:gap-x-8 lg:snap-mandatory lg:snap-x lg:scroll-px-[20vw] lg:overflow-auto lg:scroll-smooth!"
      >
        <Case
          url="https://woosh.be"
          logoAlt="Woosh"
          tags={["wordpress", "woocommerce"]}
          img={logoWoosh}
          logoWidth={150}
        >
          <p class="mb-4">
            When I got to know about Woosh, I was immediately convinced that I'd
            like to for for them, since their mission is closely aligned to what
            I stand for myself. They are making diapers circular by recycling
            the diapers coming from daycares, and they create their own diaper
            with recycled materials.
          </p>
          <p>
            When I started working for Woosh, a website was already created by
            contractors. My task was to finetune it a bit, create consistency in
            the design and to expand some functionalities in the Woocommerce
            checkout process.
          </p>
        </Case>
        <Case
          url="https://maat-werk.be"
          logoAlt="Maat.Werk"
          tags={["wordpress"]}
          img={logoMaatwerk}
          logoWidth={150}
          hasBlackBackground
        >
          <p class="mb-4">
            Through a colleague I was brought into contact with the interior
            company Maat.Werk, a company formed by 3 friends who handle
            everything regarding renovations from start to finish.
          </p>
          <p>
            Since the company was newly formed, there was no website to base
            myself on. Together with the client I went to work to get a design
            which matches the style they use for all their other communication
            through Instagram, Facebook.. In the end we landed a very good
            looking and minimal design.
          </p>
        </Case>
        <Case
          url="https://snackbarmartino.be"
          logoAlt="Snackbar Martino"
          tags={["wordpress"]}
          img={logoMartino}
          logoWidth={150}
        >
          <p class="mb-4">
            I was contacted by the lovely people at Martino to give their
            website a bit of an update. Since I'm a fan of their restaurant, I
            was immediately enthousiastic about this project.
          </p>
          <p>
            Their website was already built in Wordpress, so it was easy for me
            to jump in and do the necessary changes. I adapted the font used to
            their house font "Hobo", added a navigation and a contact page and
            they're good to go again!
          </p>
        </Case>
        <Case
          url="https://borluutjoggers.be"
          logoAlt="Borluut Joggers"
          tags={["wordpress"]}
          img={logoBorluutJoggers}
          logoWidth={150}
        >
          <p class="mb-4">
            My colleague Hilde was in need of a refresh and redesign of the
            current website of their running club Borljuut Joggers, so she came
            to me to take care of this.
          </p>
          <p>
            With the existing website already being built in Wordpress, I had a
            good base to work on. I applied a new theme and changed the content
            architecture to make the pages and navigation easier to navigate
            through. One of my focus points was also to get a good mobile-first
            experience, which wasn't a focus on the previous website.
          </p>
        </Case>
        <Case
          url="https://www.karaton.be"
          logoAlt="Karaton"
          img={logoKaraton}
          logoWidth={218}
          tags={["mongodb", "expressjs", "angular", "nodejs"]}
        >
          <p class="mb-4">
            For Happs Development I created and maintained the <b>Angular</b>{
              " "
            }
            website for Karaton where speech therapists and parents of dyslexic could
            follow up on the progress their children/patients are making in the Karaton
            game.
          </p>
          <p class="mb-4">
            There were a lot of graphs to be shown with Highcharts, a payment
            integration through Mollie, different roles for
            admins/therapists/parents.
          </p>
          <p>
            In this team I worked as a Full Stack Developer, giving me a lot of
            insight in how the backend of a web application works.
          </p>
        </Case>
        <Case
          url="https://www.getrialto.com"
          logoAlt="Rialto"
          img={logoRialto}
          logoWidth={321}
          tags={["swift", "ios"]}
        >
          <p class="mb-4">
            At my internship for Rialto I created an iOS app from scratch in{
              " "
            }
            <b>Swift</b> where real estate companies could easily manage their listings.
          </p>
          <p class="mb-4">
            I created the screens in storyboards based on the designs provided
            by our designer.
          </p>
          <p>
            When the screens were finished I used Swift code to implement
            functionality such as logins through an API, fetching the listings
            through an API, saving the listings in the SQLite database..
          </p>
        </Case>
        <Case
          url="https://play.google.com/store/apps/details?id=com.carlierkathleen.rekenen&hl=nl"
          logoAlt="Carlier Rekenen"
          img={logoCarlier}
          logoWidth={100}
          tags={["react-native", "react"]}
        >
          <p class="mb-4">
            While working at Happs Development I also created a mobile
            application for a speech therapist to help children with discalculia
            to learn how to count and do simple math exercises in a fun game
            form.
          </p>
          <p class="mb-4">
            The app was created from scratch using <b>React Native</b> for fast development,
            and Expo to get fast previews of the app on real devices.
          </p>
          <p>
            This project taught me a lot about <b>animations</b>, how to handle
            dynamically generated sound output for the spoken numbers, learn
            which platform specific APIs to use..
          </p>
        </Case>
        <Case
          url="https://www.achterderegenboog.be"
          logoAlt="Achter De Regenboog"
          img={logoAchterderegenboog}
          logoWidth={150}
          tags={["wordpress", "html", "css"]}
        >
          <p class="mb-4">
            In my free time I like to experiment with other frameworks and
            technologies too, this is why I made a website using{" "}
            <b>Wordpress</b> for a friend of mine who started a psychologists practice.
          </p>
          <p class="mb-4">
            My friend gave me some high level designs, and I got to work! I
            selected a fitting theme.
          </p>
          <p>
            I built on the theme with a lot of plugins to optimize the speed of
            the website (Autoptimize), the SEO (Yoast) and anti-spam by Akismet.
          </p>
        </Case>
        <Case
          url="https://www.deckdeckgo.com"
          logoAlt="DeckDeckGo"
          img={logoDuckduckgo}
          logoWidth={100}
          tags={["open source", "hacktoberfest", "stencil", "typescript"]}
        >
          <p class="mb-4">
            In 2020 I participated in <b>Hacktoberfest</b> for the first time ever.
            I did some research on which open source project I would like to contribute
            to, and landed on DeckDeckGo.
          </p>
          <p>
            It was a lot of fun to coloborate with other <b>open source</b>{" "}
            contributors, and to work in a new technological stack. I&apos;m definitely
            going to continue contributing to open source in the future!
          </p>
        </Case>
        <Case
          url="https://www.psychotherapiepraktijkkortrijk.be"
          logoAlt="Psychotherapiepraktijk Kortrijk"
          tags={["squarespace"]}
        >
          <p>
            For a family member of mine who started a psychotherapy practice, I
            created a website using Squarespace. I used a template and
            customized it to the needs of my friend, updated the copy and added
            some custom styling where needed. This was by far the easiest CMS
            I've ever worked with, and I'm very happy with the result.
          </p>
        </Case>
        <Case
          url="/"
          logoAlt="thomas ledoux"
          tags={["astro", "typescript", "tailwind"]}
        >
          <p class="mb-4">
            I like to use my personal website as a playground for new ideas and
            new technologies. The site used to be built in Next.js, but since
            I&apos;ve been using Next.js frequently at work, I wanted to try
            something new: Astro.
          </p>
          <p>
            The conversion of the project wasn&apos;t very hard, since I could
            easily copy over the JSX, since the Astro syntax is very close to
            it. The DX is unmatched, and it's so fast!. No Javascript loaded by
            default is a huge win for my site.
          </p>
        </Case>
      </ul>
      <div
        class="track__indicators h-6 absolute -bottom-12 left-1/2 -translate-x-1/2 flex"
        aria-hidden="true"
      >
        <button
          class="indicator bg-clip-padding cursor-pointer min-w-6 flex-1 rounded-[100px] bg-secondary border-transparent border-4 relative"
          class="indicator"
          aria-label="Scroll to slide 1"></button>
        <button
          class="indicator bg-clip-padding cursor-pointer min-w-6 flex-1 rounded-[100px] bg-secondary border-transparent border-4 relative"
          class="indicator"
          aria-label="Scroll to slide 2"></button>
        <button
          class="indicator bg-clip-padding cursor-pointer min-w-6 flex-1 rounded-[100px] bg-secondary border-transparent border-4 relative"
          class="indicator"
          aria-label="Scroll to slide 3"></button>
        <button
          class="indicator bg-clip-padding cursor-pointer min-w-6 flex-1 rounded-[100px] bg-secondary border-transparent border-4 relative"
          class="indicator"
          aria-label="Scroll to slide 4"></button>
        <button
          class="indicator bg-clip-padding cursor-pointer min-w-6 flex-1 rounded-[100px] bg-secondary border-transparent border-4 relative"
          class="indicator"
          aria-label="Scroll to slide 5"></button>
        <button
          class="indicator bg-clip-padding cursor-pointer min-w-6 flex-1 rounded-[100px] bg-secondary border-transparent border-4 relative"
          class="indicator"
          aria-label="Scroll to slide 6"></button>
        <button
          class="indicator bg-clip-padding cursor-pointer min-w-6 flex-1 rounded-[100px] bg-secondary border-transparent border-4 relative"
          class="indicator"
          aria-label="Scroll to slide 7"></button>
        <button
          class="indicator bg-clip-padding cursor-pointer min-w-6 flex-1 rounded-[100px] bg-secondary border-transparent border-4 relative"
          class="indicator"
          aria-label="Scroll to slide 8"></button>
        <button
          class="indicator bg-clip-padding cursor-pointer min-w-6 flex-1 rounded-[100px] bg-secondary border-transparent border-4 relative"
          class="indicator"
          aria-label="Scroll to slide 9"></button>
        <button
          class="indicator bg-clip-padding cursor-pointer min-w-6 flex-1 rounded-[100px] bg-secondary border-transparent border-4 relative"
          class="indicator"
          aria-label="Scroll to slide 10"></button>
      </div>
    </div>
  </section>
  <script>
    const indicators = document.querySelectorAll(".indicator");
    const slides = document.querySelectorAll(".carousel>li");
    indicators.forEach((indicator, i) => {
      indicator.addEventListener("click", () => {
        const slide = slides[i];
        slide?.scrollIntoView({
          behavior: "smooth",
        });
      });
    });
  </script>
</Layout>
