---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  img?: ImageMetadata;
  url: string;
  logoAlt?: string;
  logoWidth?: number;
  tags: string[];
}
const { img, url, logoWidth, logoAlt, tags } = Astro.props;
---

<a
  target="_blank"
  rel="noopener noreferrer"
  class="transform flex flex-col lg:text-center rounded-xl transition-transform lg:hover:scale-[1.04] shadow-lg h-full"
  href={url}
>
  <div
    class="h-24 max-h-24 max-w-[80%] mx-auto text-center flex items-center justify-center"
  >
    {
      img && logoWidth ? (
        <Image
          width={logoWidth}
          height={100}
          alt={`Logo ${logoAlt}`}
          src={img}
          class="inline-block max-w-full lg:max-w-xs"
        />
      ) : (
        <span class="text-3xl lg:text-4xl">{logoAlt}</span>
      )
    }
  </div>
  <div class="p-4 flex-grow flex flex-col">
    <slot />
    <div class="flex flex-col pt-4 mt-auto flex-grow justify-end">
      <ul class="flex flex-wrap">
        {
          tags.map((tag) => {
            return (
              <li class="bg-secondary text-white text-sm my-1 py-1 px-4 mr-2 rounded-md">
                {tag}
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</a>
