---
import { footerIconWrapper } from '../lib/ui-classes';

export interface Props {
  label: string;
  href?: string;
}
const { label, href } = Astro.props;
const url = Astro.request.url;
const parsedUrl = new URL(url);
const isActive =
  parsedUrl.pathname === href ||
  parsedUrl.pathname === `${href}/` ||
  (parsedUrl.pathname.startsWith('/blog') && href === '/blog');
---

<li
  class="group py-[6px] cursor-pointer flex items-center xs:py-2 z-40 relative outline-hidden"
>
  <a
    target={href?.startsWith('http') ? '_blank' : undefined}
    rel={href?.startsWith('http') ? 'noopener noreferrer' : undefined}
    aria-label={label}
    href={href}
    title={label}
    class="my-auto transition-transform duration-150 ease-out active:scale-[0.97]"
  >
    <div
      class="absolute left-12 top-1/2 -translate-y-1/2 rounded-md text-[10px] hidden group-hover:inline-block group-focus-within:inline-block px-3 py-1 bg-gray-100 backdrop-blur-sm after:border-t-transparent after:border-t-[10px] after:border-b-transparent after:border-b-[10px] after:border-r-gray-100 after:border-r-[10px] after:-left-2 after:top-1/2 after:-translate-y-1/2 after:absolute whitespace-nowrap"
    >
      {label}
    </div>
    <div
      class:list={[footerIconWrapper, isActive && 'active']}
    >
      <slot />
    </div>
    {
      isActive ? (
        <span class="w-1 h-1 bg-secondary absolute rounded-full -bottom-1 left-2 sm:top-1/2 -translate-y-1/2 sm:-right-1 sm:left-auto" />
      ) : null
    }
  </a>
</li>
