---
import NavigationItems from './NavigationItems.astro';
const logoLetterClass = 'letter inline-block top-0 relative';
---

<nav class="fixed bg-primary transition-colors h-16 w-full z-50">
  <div class="flex h-full mx-auto justify-between items-center container">
    <a rel="prefetch" class="logo flex flex-row text-lg lg:text-2xl" href="/">
      <span class={logoLetterClass}>t</span>
      <span class={logoLetterClass}>h</span>
      <span class={logoLetterClass}>o</span>
      <span class={logoLetterClass}>m</span>
      <span class={logoLetterClass}>a</span>
      <span class={logoLetterClass}>s</span>
      <span>&nbsp;</span>
      <span class={logoLetterClass}>l</span>
      <span class={logoLetterClass}>e</span>
      <span class={logoLetterClass}>d</span>
      <span class={logoLetterClass}>o</span>
      <span class={logoLetterClass}>u</span>
      <span class={logoLetterClass}>x</span>
    </a>
    <ul class="hidden md:flex md:gap-6">
      <NavigationItems />
    </ul>
    <ul
      id="mobileMenu"
      class="md:hidden absolute flex flex-col scale-x-0 w-full top-16 origin-right right-0 py-4 transition-transform transform-gpu items-center text-white bg-secondary gap-4"
    >
      <NavigationItems />
    </ul>
    <button
      aria-label="Toggle mobile menu"
      type="button"
      id="mobileMenuToggleBtn"
      class="md:hidden order-3 cursor-pointer relative w-5 h-6"
    >
      <span
        id="mobileMenuToggleBtnFirstline"
        class="transform transition-transform duration-300 absolute h-1 w-full bg-secondary rounded-lg left-0 rotate-0 top-1"
      ></span>
      <span
        id="mobileMenuToggleBtnSecondline"
        class="absolute transition-opacity duration-300 h-1 w-full bg-secondary rounded-lg left-0 top-3 opacity-100"
      ></span>
      <span
        id="mobileMenuToggleBtnThirdline"
        class="transform transition-transform duration-300 absolute h-1 w-full bg-secondary rounded-lg left-0 rotate-0 top-5"
      ></span>
    </button>
  </div>
</nav>
<script>
  document
    .getElementById('mobileMenuToggleBtn')
    ?.addEventListener('click', () => {
      document
        .getElementById('mobileMenuToggleBtnFirstline')
        ?.classList.toggle('rotate-[135deg]');
      document
        .getElementById('mobileMenuToggleBtnFirstline')
        ?.classList.toggle('top-3');
      document
        .getElementById('mobileMenuToggleBtnSecondline')
        ?.classList.toggle('opacity-0');
      document
        .getElementById('mobileMenuToggleBtnSecondline')
        ?.classList.toggle('-left-[10rem]');
      document
        .getElementById('mobileMenuToggleBtnThirdline')
        ?.classList.toggle('-rotate-[135deg]');
      document
        .getElementById('mobileMenuToggleBtnThirdline')
        ?.classList.toggle('top-3');
      document
        .getElementById('mobileMenuToggleBtnThirdline')
        ?.classList.toggle('top-5');
      document.getElementById('mobileMenu')?.classList.toggle('scale-x-100');
      document.getElementById('mobileMenu')?.classList.toggle('scale-x-0');
    });
</script>
