---
const linkClasses =
  'relative before:absolute before:bottom-[-6px] md:before:bottom-[-4px] before:h-[4px] before:w-[0] before:mt-[4px] before:bg-white md:before:bg-primary before:transition-all before:duration-300';
---

<!-- 
<li>
  <a href="/personal" class={linkClasses}> Personal</a>
</li>
<li>
  <a href="/portfolio" class={linkClasses}> Portfolio</a>
</li> -->
<li>
  <a href="/blogs" class={linkClasses}> Blog</a>
</li>
<!-- <li>
  <a href="/contact" class={linkClasses}> Contact</a>
</li>
<li>
  <a href="/cv" class={linkClasses}> CV</a>
</li> -->
