---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
  index: number;
}
const { post } = Astro.props;
const { remarkPluginFrontmatter } = await render(Astro.props.post);
const { minutesRead } = remarkPluginFrontmatter;
---

<a
  class="transform rounded-xl transition-transform lg:hover:scale-[1.04] shadow-lg h-full"
  href={`/blog/${post.id}`}
>
  <article class="relative rounded-lg sm:mx-0 h-full flex flex-col">
    <div class="flex px-6 py-4 grow flex-col">
      <date class="text-sm"
        >{
          new Date(post.data.date).toLocaleDateString("en-BE", {
            day: "numeric",
            month: "short",
            year: "numeric",
          })
        }</date
      >
      <div class="flex w-full flex-col gap-y-2 justify-between grow">
        <div>
          <h2
            class="text-xl font-bold transition-colors"
            transition:name={`blog-title-${post.id}`}
          >
            {post.data.title}
          </h2>
          {minutesRead ? <p>{minutesRead}ing time</p> : null}
        </div>
        <ul class="flex flex-wrap w-full">
          {
            post.data.tags?.map((tag: string) => {
              return (
                <li class="bg-secondary text-white text-sm my-1 py-1 px-4 mr-2 rounded-md">
                  {tag}
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </article>
</a>
