---
const { slug } = Astro.params;
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
if (!slug) {
  return Astro.redirect('/404');
}
const allBlogPostsWithTag = await getCollection('blog', blog =>
  blog.data.tags.some(tag => tag === slug)
);
if (allBlogPostsWithTag.length === 0) {
  return Astro.redirect('/404');
}
const postsWithTag = allBlogPostsWithTag.map(post => ({
  ...post,
  formattedDate: new Date(post.data.date).toLocaleDateString('en-BE', {
    day: 'numeric',
    month: 'short',
    year: 'numeric',
  }),
}));
---

<Layout
  title={`The Thomas Ledoux blog | ${slug}`}
  description={`All my blogs about ${slug}`}
>
  <section>
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-center text-2xl font-bold mb-6">
        All my blogs about {slug}
      </h1>
      <div class="flex flex-col gap-6 items-center">
        {
          postsWithTag.map(async post => {
            const { remarkPluginFrontmatter } = await post.render();

            return (
              <a
                rel="prefetch"
                class="transform lg:text-center border-2 border-secondary rounded-xl transition-transform px-8 py-4 lg:hover:scale-[1.04]"
                href={`/blog/${post.slug}`}
              >
                <article class="relative rounded-lg  sm:mx-0">
                  <date class="text-sm">{post.formattedDate}</date>
                  <div class="flex justify-between">
                    <div class="flex justify-between lg:items-center w-full flex-col gap-y-2">
                      <h2 class="text-xl font-medium transition-colors">
                        {post.data.title}
                      </h2>
                      <p>{remarkPluginFrontmatter?.minutesRead}ing time</p>
                      <ul class="flex flex-wrap lg:justify-center w-full">
                        {post.data.tags?.map((tag: string) => {
                          return (
                            <li class="bg-secondary text-white text-sm my-1 py-1 px-4 mr-2 rounded-md">
                              {tag}
                            </li>
                          );
                        })}
                      </ul>
                    </div>
                  </div>
                </article>
              </a>
            );
          })
        }
        <a
          rel="prefetch"
          href="/blog"
          class="flex items-center gap-x-2 mb-4 decoration-4 decoration-solid underline-offset-[3px] decoration-secondary underline"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width={1.5}
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
          </svg>
          Back to overview
        </a>
      </div>
    </div>
  </section>
</Layout>
