---
import Layout from './Layout.astro';
import CommentsWrapper from '../components/CommentsWrapper';
import { prisma } from '../lib/prisma';
import { getCollection } from 'astro:content';
import PostPreview from '../components/PostPreview.astro';
import { calculateBlurhashGradient } from '../utils/calculate-blurhash-gradient';
const { frontmatter } = Astro.props;
interface Props {
  frontmatter: {
    minutesRead: string;
    title: string;
    file: string;
    url: string;
    date: string;
    tags: string[];
  };
}
const postsWithComments = await prisma?.post.findFirst({
  where: { url: frontmatter?.url },
  include: {
    Comment: {
      orderBy: {
        createdAt: 'desc',
      },
    },
  },
});
const comments = postsWithComments?.Comment;
const convertedDate = new Date(frontmatter.date).toLocaleDateString('en-BE', {
  day: 'numeric',
  month: 'short',
  year: 'numeric',
});
const blogs = await getCollection('blog');
const latestBlogs = await Promise.all(
  blogs
    .filter(blog => blog.data.title !== frontmatter.title)
    .sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date))
    .slice(0, 3)
    .map(async blog => ({
      ...blog,
      blurhash: await calculateBlurhashGradient(blog.data.image),
    }))
);
---

<Layout
  description="Blog by Thomas Ledoux. Writes about Javascript/React/Next.js/Remix/Astro. Always looking to learn about the newest frameworks and features."
  frontmatter={frontmatter}
>
  <a rel="prefetch" href="/blog" class="flex items-center gap-x-2 lg:mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width={1.5}
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
    </svg>
    Back to overview
  </a>
  <article class="mdx">
    <h1>{frontmatter.title}</h1>
    <div class="flex flex-col lg:flex-row gap-4 lg:items-center mb-4">
      <div class="flex gap-x-4">
        <time class="text-gray-500">{convertedDate}</time>
        <span class="text-gray-500 inline-block">|</span>
        <span>{frontmatter.minutesRead}</span>
      </div>
      <span class="text-gray-500 hidden lg:inline-block">|</span>
      <div class="flex gap-x-2 flex-wrap gap-y-2">
        {
          frontmatter.tags.map(tag => (
            <a
              class="border-secondary border-2 text-secondary text-sm py-1 px-4 rounded-md tag font-semibold"
              href={`/blog/tags/${tag}`}
            >
              {tag}
            </a>
          ))
        }
      </div>
    </div>
    <slot />
  </article>
  <div>
    <CommentsWrapper
      client:visible
      blogUrl={frontmatter.url}
      initialComments={comments}
    />
  </div>

  <h2 class="font-bold mt-8 mb-4 text-2xl">
    Did you like this post? Check out my latest blog posts:
  </h2>
  <div
    class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 items-center auto-rows-min"
  >
    {latestBlogs.map((post, i) => <PostPreview index={i} post={post} />)}
  </div>
</Layout>
