---
import Layout from './Layout.astro';
import CommentsWrapper from '../components/CommentsWrapper';
import { prisma } from '../lib/prisma';
const { frontmatter } = Astro.props;
interface Props {
  frontmatter: {
    minutesRead: string;
    title: string;
    file: string;
    url: string;
    date: string;
    tags: string[];
  };
}
const comments = await prisma?.post.findFirst({
  where: { url: frontmatter?.url.split('src/content')[1]?.split('.')[0] ?? '' },
  include: { Comment: true },
  orderBy: { createdAt: 'asc' },
});
const initialComments = comments?.Comment.sort(
  (a, b) => new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime()
);
const convertedDate = new Date(frontmatter.date).toLocaleDateString('en-BE', {
  day: 'numeric',
  month: 'short',
  year: 'numeric',
});
---

<Layout
  description="Blog by Thomas Ledoux. Writes about Javascript/React/Next.js/Remix/Astro. Always looking to learn about the newest frameworks and features."
  frontmatter={frontmatter}
>
  <a rel="prefetch" href="/blog" class="flex items-center gap-x-2 mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width={1.5}
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
    </svg>
    Back to overview
  </a>
  <article>
    <h1>{frontmatter.title}</h1>
    <div class="flex gap-x-4 items-center mb-4">
      <time class="text-gray-500">{convertedDate}</time>
      <span class="text-gray-500">|</span>
      <div class="flex gap-x-2">
        {
          frontmatter.tags.map(tag => (
            <a
              class="border-secondary border-2 text-secondary text-sm py-1 px-4 rounded-md tag font-semibold"
              href={`/blog/tags/${tag}`}
            >
              {tag}
            </a>
          ))
        }
      </div>
    </div>
    <slot />
  </article>
  <div>
    <CommentsWrapper
      client:visible
      blogUrl={frontmatter.url.replace('src/content', '').replace('.mdx', '')}
      initialComments={initialComments}
    />
  </div>
</Layout>
