---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
const { frontmatter, title, description, preloadImageDesktop, preloadImageMobile } = Astro.props;
import '../../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title ?? frontmatter.title}</title>
    <meta content={title ?? frontmatter.title} property="og:title" />
    <meta content={title ?? frontmatter.title} property="twitter:title" />
    {
      description ? (
        <meta content={description} property="description" />
        <meta content={description} property="twitter:description" />
        <meta content={description} property="og:description" />
        <meta name="author" content="Thomas Ledoux">
      ) : null
    }
    <link as="font" crossorigin="anonymous" href="/fonts/Inter.var.woff2" rel="preload" type="font/woff2">
    {preloadImageDesktop && preloadImageMobile ? <link rel="preload" as="image" href={preloadImageDesktop} imageSrcSet={`${preloadImageMobile} 480w, ${preloadImageDesktop}`} imageSizes="100vw" />
 : null}
    <meta
      content={frontmatter?.title
        ? `https://website-thomas.vercel.app/api/og?title=${frontmatter.title}`
        : 'https://website-thomas-astro.vercel.app/me.webp'}
      property="og:image"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="flex flex-col">
    <Navigation />
    <main
      class={`pt-24 pb-8 flex-grow flex flex-col justify-center container mx-auto ${
        frontmatter ? 'mdx' : ''
      }`}
    >
      <slot />
      <!-- your content is injected here -->
    </main>
    <Footer />
  </body>
</html>
