---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
interface Props {
  title?: string
  description?: string
  preloadImage?: string
  preloadImageSizes?: string
  preloadImageSrcSet?: string
  frontmatter?: {
    minutesRead: string;
    title: string;
    file: string;
    url: string;
  };
}
const { frontmatter, title, description, preloadImage, preloadImageSizes, preloadImageSrcSet } = Astro.props;
import '../../styles/global.css';
---

<html lang="en" class="scroll-smooth">
  <head>
    <link rel="preconnect" href="https://res.cloudinary.com" />
    <link rel="dns-prefetch" href="https://res.cloudinary.com" />
    {preloadImage ? <link rel="preload" fetchpriority="high" as="image" type="image/webp" imageSrcSet={preloadImageSrcSet} href={preloadImage} imageSizes={preloadImageSizes} /> : null}
    <meta charset="utf-8" />
    <title>{title ?? frontmatter?.title}</title>
    <meta content={title ?? frontmatter?.title} property="og:title" />
    <meta content={title ?? frontmatter?.title} property="twitter:title" />
    <meta name="twitter:card" content="summary_large_image" />
    {
      description ? (
        <meta content={description} property="description" />
        <meta content={description} property="twitter:description" />
        <meta content={description} property="og:description" />
        <meta name="author" content="Thomas Ledoux" />
      ) : null
    }
    <link as="font" crossorigin="anonymous" href="/fonts/Inter.var.woff2" rel="preload" type="font/woff2" />
    <meta
      content={frontmatter?.title
        ? `https://website-thomas.vercel.app/api/og?title=${frontmatter.title}`
        : 'https://res.cloudinary.com/dzrea5zhv/image/upload/v1583171588/me_qvrwky.jpg'}
      property="og:image"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script defer src="/_vercel/insights/script.js"></script>
    <script>
			import { webVitals } from "../lib/vitals";
			let analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;
			if (analyticsId) {
				webVitals({
					path: location.pathname,
					params: location.search,
					analyticsId,
				});
			}
		</script>
  </head>
  <body class="flex flex-col">
    <Navigation />
    <main
      class={`pt-24 pb-12 flex-grow flex flex-col justify-center container mx-auto h-full ${
        frontmatter ? 'mdx' : ''
      }`}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
